.drawer-container {
  position: absolute;
  left: 0;
  z-index: 4;
  height: 100%;
  background-color: #313131;
  color: #dcdcdc;
  padding: 1rem;
  .form-group {
    margin: 0;
    .form-control {
      border-radius: 2rem;
      background-color: #292929;
      border-color: #4c4c4c;
      color: #dcdcdc;
      &::-webkit-input-placeholder {
        color: #4c4c4c;
      }
    }
  }
  hr {
    margin-left: -1rem;
    margin-right: -1rem;
    border-color: #4c4c4c;
  }
  .current-search{
    font-size:0.6rem;
    text-transform:uppercase;
    font-weight:normal;
    .btn{
      font-size:0.6rem;
    }
  }
}
.drawer-bg {
  position: absolute;
  top:0;
  z-index: 3;
  background-color: black;
  opacity: 0.5;
  height: 100%
}