<div class="mainbody container-fluid">
    <div class="row">
        <div class="col col-lg-3 col-md-3">
            <div class="get-started card" *ngIf="!userDataService.registered">
                <div class="alert alert-danger">
                    <p class="h4">No profile created yet</p>
                    <a class="alert-link" [routerLink]="['/profile/create']">Create your profile</a>
                </div>
                <div class="alert alert-warning">
                    <p>Find some friends</p>
                </div>
            </div>
            <div class="get-started card" *ngIf="userDataService.registered">
                <img class="img-fluid" src="assets/images/dummy_avatar.png">
                <div class="media-body">
                    <hr>
                    <h3>Name: </h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vel gravida metus, non ultrices sapien. Morbi odio metus, dapibus non nibh id amet.</p>
                    <hr>
                    <h3><strong>Location</strong></h3>
                    <p>Earth</p>
                    <hr>
                    <h3><strong>Gender</strong></h3>
                    <p>Unknown</p>
                    <hr>
                    <h3><strong>Birthday</strong></h3>
                    <p>January 01 1901</p>
                </div>
            </div>
        </div>
    </div>
</div>
