<nav class="navbar navbar-inverse bg-inverse" *ngIf="!hide">
    <div class="row justify-content-md-center">
        <div class="col">
            <button md-button (click)="back()" *ngIf="!selectedImage">
                <i class="material-icons">keyboard_arrow_left</i>
                {{ 'BACK_BUTTON_TEXT' | translate }}
            </button>
            <div class="row controls" [hidden]="!selectedImage">
                <div class="col text-center" [hidden]="croppedImage">
                    <button md-mini-fab (click)="handleCancelImageSelect(imgRef)" color="warn"><md-icon>{{ 'DELETE_BUTTON' | translate}}</md-icon></button>
                </div>
                <div class="col text-center" [hidden]="croppedImage">
                    <button md-mini-fab (click)="handleCropImage(imgRef)"><md-icon>{{ 'CHECK_BUTTON' | translate }}</md-icon></button>
                </div>
                <div class="col text-center" [hidden]="!croppedImage">
                    <button md-mini-fab (click)="handleCancelCrop(imgRef)" color="warn"><md-icon>{{ 'CLOSE_BUTTON' | translate }}</md-icon></button>
                </div>
                <div class="col text-center" [hidden]="!croppedImage">
                    <button md-mini-fab (click)="handleUploadImage()"><md-icon>{{ 'CLOUD_UPLOAD_BUTTON' | translate }}</md-icon></button>
                </div>
            </div>
        </div>
    </div>
</nav>
<div class="page">
    <md-card [hidden]="!selectedImage">
        <md-card-header>
            <md-card-title>{{ 'CROP_YOUR_PHOTO' | translate }}</md-card-title>
        </md-card-header>
        <md-card-content>
            <div class="crop-image-container">
                <img class="image-fluid crop-image" src="assets/images/dummy_avatar.png" #imgRef>
            </div>


        </md-card-content>
    </md-card>

    <md-card *ngIf="!selectedImage">
        <md-card-header>
            <md-card-title>{{ 'UPLOAD_PROFILE_PICTURE' | translate }}</md-card-title>
        </md-card-header>
        <input (change)="handleImageSelect($event, imgRef)" class="image-upload-input" type="file"/>
        <img class="md-card-image" src="assets/images/dummy_avatar.png" alt="">
    </md-card>
</div>