<div class="container">
    <div class="card" [hidden]="!selectedImage">
        <h3>Crop your photo</h3>
        <div class="crop-image-container">
            <img class="image-fluid crop-image" alt="" src="assets/images/dummy_avatar.png" #imgRef>
        </div>
        <div class="img-preview preview-lg" [hidden]="!showCroppedImage"></div>

        <button (click)="cropImage()" class="btn btn-primary">crop</button>
    </div>
    <div class="row" *ngIf="!selectedImage">
        <div class="col">
            <div class="card">
                <h3>Select Image</h3>
                <div class="image-upload-container">
                </div>
                <input (change)="handleImageSelect($event, imgRef)" class="image-upload-input" type="file"/>
                <img class="img-fluid" src="assets/images/dummy_avatar.png" alt="">
            </div>
        </div>
    </div>
</div>