.image-upload-container{
  over-flow:hidden;
  position:relative;
}
.image-upload-input{
  width:100%;
  height:200%;
  position:absolute;
  bottom:0;
}

.crop-image{
  max-width: 100%;
}
.img-preview {
  background-color: #f7f7f7;
  height:300px;
  width:100%;
  overflow: hidden;
  text-alight:center;
  &> img {
    max-width: 100%;
  }
}
