<nav class="navbar navbar-inverse bg-inverse" *ngIf="!hide">
  <div class="row justify-content-md-center">
    <div class="col">
      <button md-button (click)="back()" *ngIf="!selectedImage">
        <i class="material-icons">keyboard_arrow_left</i>Back
      </button>
    </div>
    <div class="col text-center">
      <button md-mini-fab (click)="handleUploadImage()">next</button>
    </div>

  </div>
</nav>

<div class="page">
  <md-card>
    <md-card-header>
      <md-card-title>About You</md-card-title>
    </md-card-header>
    <md-card-content>
      <md-list>
        <md-list-item>
          <md-input-container>
            <input mdInput [placeholder]="'USER_AGE_LABEL' | translate" value="" (blur)="handleUserInput('age',$event.target.value)">
          </md-input-container>
        </md-list-item>
        <md-list-item>
          <md-input-container>
            <input mdInput [placeholder]="'USER_HEIGHT_LABEL' | translate" value="" (blur)="handleUserInput('height',$event.target.value)">
          </md-input-container>
        </md-list-item>
        <md-list-item>
          <md-select name="ethnicity" [placeholder]="'USER_ETHNICITY_LABEL' | translate" (change)="handleUserInput('ethnicity',$event.value.value)">
            <md-option [value]="ethnicity" *ngFor="let ethnicity of ethnicities">{{ ethnicity.label | translate}}</md-option>
          </md-select>
        </md-list-item>
        <md-list-item>
          <md-select name="bodyType" [placeholder]="'USER_BODY_TYPE_LABEL' | translate"  (change)="handleUserInput('bodyType',$event.value.value)">
            <md-option [value]="bodyType" *ngFor="let bodyType of bodyTypes">{{ bodyType.label | translate }}</md-option>
          </md-select>
        </md-list-item>
        <md-list-item>
          <md-select name="hairColor" [placeholder]="'USER_HAIR_COLOR_LABEL' | translate" (change)="handleUserInput('hariColor',$event.value.value)">
            <md-option [value]="hariColor" *ngFor="let hariColor of hariColors">{{ hariColor.label | translate }}</md-option>
          </md-select>
        </md-list-item>
      </md-list>
    </md-card-content>
  </md-card>
</div>